@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('./fonts/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('./fonts/proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('./fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proxima_nova_condensed_light-webfont.woff2') format('woff2'),
         url('./fonts/proxima_nova_condensed_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

*, 
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Proxima Nova', Arial, sans-serif;
}

button {
     border: 0;
 }

button:hover {
    cursor: pointer;
 }

button:focus {
    border: 0;
    outline: 0;
    box-shadow:  inset 3px 3px 35px -3px #8258fa;
 }


header {
    height: 100vh;
    background-image: url('images/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

header img {
    display: block;
    width: auto;
    padding-top: 39px;
}

.header_headline,
.athlets {
    position: relative;
    margin: auto 0;
}

.header_headline:after {
    content: '';
    width: 226px;
    height: 5px;
    background-color: #5d40ad;
    position: absolute;
    top: 0;
    left: 55%;
    z-index: 1;
    transform-origin: 0 0;
    transform: rotate(125deg);
}



.header_headline h1 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding-left: 5%;
}

@media only screen and (min-width: 321px) {

    .header_headline {
        padding-left: 15%;
    }

}

.play_sports_headline {
    padding-left: 40px;
    padding-top: 30px;
}


.header_buttons {
    width: 100%;
    padding-bottom: 46px;
    display: flex;
    justify-content: space-around;
}

.button-load {
    font-weight: 300;
    line-height: 11px;
    background-color: #5d40ad;
    color: #fff;
    width: 45%;
    height: 39px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: .5em;
    padding: 10px 10px 10px 45px;
    background-repeat: no-repeat;
    background-position: left 20px center;
    text-align: left;
}

.semibold {
  font-weight: 600;  
}

.app-store {
    background-image: url('./images/Icon-Apple.png');   
}

.google-play {
    background-image: url('./images/Icon-GooglePlay.png');
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 78%;
    margin-bottom: 10px;
}

nav a {
    font-weight: 300;
    letter-spacing: 1px;
    flex-basis: 30%;
    color: #5d40ad;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    font-size: .75em;
    padding-bottom: 10px;
    text-align: center;
}

nav a:hover {
    color: #8258fa;
}

nav a:focus {
    text-shadow: .0625em .0625em .125em #000, .2em .02em .6em #e6e6e6;
}

.athlets_players {
    background: url('./images/plus-plus.png') no-repeat 16% 16%, linear-gradient(to bottom, #fff 50%, #f5f4f9 50%);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
    overflow: auto;
}

.athlets_players img {
    z-index: 2;
    position: relative;
}

.athlets_players_img_container {  
    z-index: 2;
    position: relative;
}

.athlets_players_img_container:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 8.7%;
    left: 91%;
    height: 3px;
    width: 250px;
    transform-origin: 0 0;
    transform: rotate(135deg);
    background-color: #936eea;
}

.headline_athlets_players {
  font-size: 3.125em; 
  text-transform: uppercase;
  color: #e7e7e7;
  font-weight: 700; 
  align-self: flex-start;
  margin: 0;
  padding-top: 26px;
  padding-left: 6%;
}

.name_athlet_player {
    text-align: left;
    font-size: 1.75em;
    font-weight: 700;
    color: #e7e7e7;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 12px;
}

.desription_athlet_player {
    font-size: 0.9375em;
    color: #000;
    font-weight: 400;
    width: 88.5%;
    padding-left: 6%;
    padding-bottom: 35px;
    margin: auto 0;
}

.number_name_athlet_player {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6%;
}

.number_athlet_player {
    display: block;
    font-weight: 700;
    border-bottom: 4px solid #5e42b0;
}

.switch_dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54px;
    margin: 0 auto;
    padding-bottom: 27px;
}

.switch_dots .dot {
    background-color: #d8d8d8;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.switch_dots .dot:hover,
.switch_dots .dot:focus {
    background-color: #5c3caf;
    cursor: pointer;
}



@media only screen and (min-width: 768px) {

}
