body {
    background-color: #fff;
    max-width: 100%;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    margin: 0 auto;
}
button {
     border: 0;
 }

button:hover {
    cursor: pointer;
 }

button:focus {
    border: 0;
    outline: 0;
    box-shadow:  inset 3px 3px 35px -3px #8258fa;
 }

header {
    height: 100vh;
    background-image: url('images/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #fff;
    padding: 38px 10px 20px;
    position: relative;
}

header img {
    display: block;
    max-width: 100%;
    margin: 0 auto 140px;
}

header h1 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
}

.h1_2nd_row {
    padding-left: 25px;
}

.header h1 {
    position: relative;
    top: 10%;
    left: 20%;
    border: 0;
    width: 225px;
    height: 4px;
    background-color: #5d40ad;
    transform: rotate(135deg);
    margin: 0;
}

.button-load {
    background-color: #5d40ad;
    width: 47%;
    border-radius: 20px;
    margin: 85px 0 0 0;
    text-transform: uppercase;
    font-size: 0.5em;
    padding: 10px 10px 10px 40px;
    background-repeat: no-repeat;
}

.app-store {
    float: left;
    background-image: url('images/Icon-Apple.jpg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    text-align: left;
}

.google-play {
    float: right;
    background-image: url('images/Icon-Apple.jpg');
    background-repeat: no-repeat;
    background-position: left 20px center;
    text-align: left;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    clear: both;
    padding-top: 45px;
}

nav a {
    color: #5d40ad;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75em;
    margin: 10px;
    text-align: center;
}

nav a:hover {
    color: #8258fa;
}

nav a:focus {
    text-shadow: 0.0625em 0.0625em 0.125em #000, 0.2em 0.02em 0.6em #e6e6e6;
}



@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 768px) {

}
